@tailwind base;
@tailwind components;

:root {
  --purple: hsl(252, 73%, 60%);
  --purple-light: hsl(252, 73%, 64%);
  --dark-purple: hsl(252, 70%, 26%);
  --dark-purple-light: hsl(252, 70%, 30%);
  --dark-purple-hover: hsl(252, 70%, 46%);
  --fitactive: hsl(342, 78%, 55%);
  --padding-block: 150px;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  @apply outline-0;
}

body {
  @apply text-white overflow-x-hidden;
}

h1, h2 {
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-8xl uppercase py-4;
}

h2 {
  @apply text-5xl pb-14;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl font-bold pb-4;
}

h5 {
  @apply text-2xl;
}

p {
  @apply sm:max-w-[60ch] max-w-[30ch] pb-2 ;
}

nav {
  @apply flex sm:justify-center mb-32 pt-6 sm:space-x-16 space-x-4 space-y-0;
}

nav a {
  @apply px-3 focus:ring focus:ring-indigo-300 rounded focus:bg-slate-100/25 duration-200 hover:bg-slate-100/25;
}

header {
  background-image: linear-gradient(-12deg, white 49.9%, var(--purple) 50%);
  @apply pb-80;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

header h5 {
  color: var(--dark-purple);
}

main {
  @apply flex flex-col -mt-52;
}

main > * {
  transform: skew(0, -2deg);
}

#home {
  @apply flex sm:flex-row flex-col justify-between gap-4;
}

#home img {
  @apply block;
  min-width: 300px;
  max-width: 300px;
  height: 300px;
  border-radius: 9999px;
  object-fit: cover;
  object-position: 0% 0%;
}

#home, section, footer {
  @apply px-[10%];
}

section {
  @apply -mt-1;
}

section, footer {
  padding-block: var(--padding-block);
}

#about-me {
  background-image: linear-gradient(-75deg, var(--dark-purple-light) 49.9%, var(--dark-purple) 50%);
}

#portfolio, #projects {
  @apply flex flex-col gap-8;
}

#portfolio {
  background-image: linear-gradient(-75deg, var(--purple-light) 49.9%, var(--purple) 50%);
}

#projects {
  @apply text-black bg-white -skew-y-2;
}

section > div {
  @apply flex sm:flex-row flex-col justify-center gap-8;
}

article {
  background-color: var(--dark-purple);
  @apply sm:w-[60ch] w-[40ch] sm:p-10 p-4 sm:m-0 mx-auto text-slate-100;
}

#fitactive {
  background-color: var(--fitactive);
}

#fitactive a {
  @apply block w-fit px-6 py-3 mt-4 border border-slate-100 hover:bg-slate-100/25 duration-200 focus:ring focus:ring-slate-100 focus:bg-slate-100/25 focus:rounded;
}

footer {
  @apply -mt-14 flex sm:flex-row flex-col sm:gap-60 gap-20;
  padding-top: calc(100px + var(--padding-block));
  background-image: linear-gradient(-75deg, var(--purple-light) 49.9%, var(--purple) 50%);
}

form {
  @apply flex flex-col gap-3 w-80 -skew-y-2;
}

#info {
  @apply -skew-y-2;
}

#info h5 {
  @apply mt-3 mb-1;
}

#info a {
  @apply duration-200 fill-slate-100 block focus:ring focus:rounded rounded p-1 focus:bg-slate-100/75;
}

#facebook {
  @apply hover:fill-blue-600 focus:fill-blue-600 focus:ring-blue-600 ;
}

#instagram {
  @apply hover:fill-pink-500 focus:fill-pink-500 focus:ring-pink-500;
}

#github {
  @apply hover:fill-slate-700 focus:fill-slate-700 focus:ring-slate-700;
}

#linkedin {
  @apply hover:fill-blue-700 focus:fill-blue-700 focus:ring-blue-700;
}

input[type="text"], input[type="email"], textarea {
  @apply block w-full border-none rounded bg-slate-100/[.3] focus:ring-indigo-300  invalid:focus:ring-red-500 invalid:bg-red-300/[.4] invalid:text-red-500 focus:ring duration-200 resize-none;
}

textarea {
  @apply h-36;
}

footer button {
  background-color: var(--dark-purple);
  @apply flex justify-center py-2 mt-5 text-slate-100 focus:ring focus:ring-indigo-400 focus:rounded duration-200;
}

footer button:not([disabled]):hover, footer button:focus {
  background-color: var(--dark-purple-hover);
}


.fadeIn {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  @apply w-4;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-300;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-slate-900;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-900/[.9];
}

@tailwind utilities;
